



<div class="card" style="padding-top: .5rem !important">
    <div class="card-body2" style="padding: .5rem !important">
        <h6 class="order-number">{{order_id}}<span class="time-ordered">{{time_ordered}}</span></h6>
        <h6 class="card-subtitle mb-2 text-muted customer-name">{{customer}}</h6>
        <p class="card-text order-details">Some quick example text to build on the card title and
            make up the bulk
            of
            the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

	{{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}